@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
.menu {
    position: fixed;
    background-color: transparent;
    width: 100%;
    padding: 30px 0;
    top: 0;
    z-index: 100;
    line-height: 20px;
    .menu-pc {
        width: 100%;
        margin: auto;
        padding: 0 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
            font-size: 30px;
            letter-spacing: 3px;
            font-weight: 500;
            font-family: 'Great Vibes', cursive;
            color: #fff;
            cursor: pointer;
            span {
                font-size: 38px;
                color: #9a533d;
            }
        }
        .list-menu {
            ul {
                list-style: none;
                display: flex;
                a {
                    font-size: 13px;
                    font-weight: 500;
                    color: whitesmoke;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    margin-left: 35px;
                    display: inline-block;
                    &::after {
                        content: '';
                        display: block;
                        width: 0;
                        height: 1.8px;
                        margin-top: 3px;
                        background-color: #846445;
                        transition: width .3s;
                    }
                    &:hover {
                        text-decoration: none;
                        &::after {
                            width: 100%;
                        }
                    }
                }
            }
        }
        .show-hide {
            display: none;
            position: absolute;
            right: 1em;
            line-height: 2.45em;
            color: whitesmoke;
            font-size: 1.75em;
        }
        .list-menu-mobile {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            background-color: #ad967c;
            transform: translateX(100%);
            opacity: 0;
            transition: transform linear 0.4s, opacity linear 0.3s;
            ul {
                list-style-type: none;
                li {
                    .nav-item-mobile {
                        text-decoration: none;
                        color: whitesmoke;
                        font-size: 1.4em;
                        font-weight: bold;
                        font-family: cursive;
                        padding: 0.5em 0;
                    }
                }
            }
            .nav-mobile-close {
                position: absolute;
                top: 1em;
                right: 1em;
                font-size: 1.4em;
                color: whitesmoke;
            }
        }
        .nav_input:checked~.nav-overlay {
            display: block;
        }
        .nav_input:checked~.list-menu-mobile {
            transform: translateX(0%);
            opacity: 1;
        }
    }
}

.home {
    height: 100vh;
    display: flex;
    .content1 {
        background-color: #ad967c;
        height: 100vh;
        width: 50%;
    }
    .content2 {
        height: 100vh;
        width: 50%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url(../images/4.jpg);
        background-position: center;
        background-size: cover;
    }
}

@media screen and (max-width:63.9375em) {
    .show-hide {
        display: block !important;
    }
    .list-icon {
        font-size: 1.75em;
        line-height: 2.45em !important;
    }
    .list-menu {
        display: none !important;
    }
}

@media only screen and (max-width: 46.1875em) {}

@media only screen and (min-width:46.25em) and (max-width:63.9375em) {
    .css-title-search {
        top: 40%;
        left: 50%;
        transform: translate(-50%, -40%);
        font-size: 2em;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}