.menu .menu-pc {
  width: 100%;
  height: 4.5em;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.menu .menu-pc .logo img {
  width: auto;
  height: 3.8125em;
  margin-top: 5px;
}

.menu .menu-pc .list-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 4.2em;
  margin-left: 2em;
}

.menu .menu-pc .list-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none !important;
  margin-right: 3em;
}

.menu .menu-pc .list-menu ul li .nav-item {
  color: #7a7a7a;
  font-size: 1em;
  margin-right: 2em;
  font-weight: bold;
  font-family: cursive;
  -webkit-transition: none 86ms ease-out;
  transition: none 86ms ease-out;
  cursor: pointer;
}

.menu .menu-pc .list-menu ul li .nav-item:hover {
  color: #00cc09;
  text-decoration: none;
  border-bottom: 5px #00cc09 solid;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding-bottom: 1.2em;
}

.menu .menu-pc .list-icon {
  position: absolute;
  right: 1.5em;
  line-height: 4.2em;
}

.menu .menu-pc .list-icon .nav-item {
  color: #7a7a7a;
  font-size: 1em;
  margin-right: 2em;
  font-weight: bold;
  font-family: cursive;
  -webkit-transition: none 86ms ease-out;
  transition: none 86ms ease-out;
  cursor: pointer;
}

.menu .menu-pc .list-icon .nav-item:hover {
  color: #00cc09;
  text-decoration: none;
}

.menu .menu-pc .show-hide {
  display: none;
  position: absolute;
  right: 1em;
  line-height: 2.45em;
  color: #7a7a7a;
  font-size: 1.75em;
}

.menu .menu-pc .nav-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  -webkit-animation: fadeIn linear 0.4s;
          animation: fadeIn linear 0.4s;
}

.menu .menu-pc .list-menu-mobile {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 28em;
  max-width: 100%;
  background-color: #000000;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  -webkit-transition: opacity linear 0.3s, -webkit-transform linear 0.4s;
  transition: opacity linear 0.3s, -webkit-transform linear 0.4s;
  transition: transform linear 0.4s, opacity linear 0.3s;
  transition: transform linear 0.4s, opacity linear 0.3s, -webkit-transform linear 0.4s;
}

.menu .menu-pc .list-menu-mobile ul {
  list-style-type: none;
}

.menu .menu-pc .list-menu-mobile ul li .nav-item-mobile {
  text-decoration: none;
  color: #7a7a7a;
  font-size: 1.4em;
  font-weight: bold;
  font-family: cursive;
  padding: 0.5em 0;
}

.menu .menu-pc .list-menu-mobile .nav-mobile-close {
  position: absolute;
  top: 1em;
  right: 1em;
  font-size: 1.4em;
  color: #7a7a7a;
}

.menu .menu-pc .css-form-seach {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
  -webkit-transition: opacity linear 0.3s, -webkit-transform linear 0.4s;
  transition: opacity linear 0.3s, -webkit-transform linear 0.4s;
  transition: transform linear 0.4s, opacity linear 0.3s;
  transition: transform linear 0.4s, opacity linear 0.3s, -webkit-transform linear 0.4s;
}

.menu .menu-pc .css-form-seach .css-title-search {
  color: #00cc09;
  text-align: center;
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -35%);
          transform: translate(-50%, -35%);
  font-size: 2.5em;
}

.menu .menu-pc .css-form-seach .search-wrapper {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.menu .menu-pc .css-form-seach .search-wrapper .input-holder {
  height: 70px;
  width: 70px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0);
  border-radius: 6px;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu .menu-pc .css-form-seach .search-wrapper.active .input-holder {
  width: 450px;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.5s cubic-bezier(0, 0.105, 0.035, 1.57);
  transition: all 0.5s cubic-bezier(0, 0.105, 0.035, 1.57);
}

.menu .menu-pc .css-form-seach .search-wrapper .input-holder .search-input {
  width: 100%;
  height: 50px;
  padding: 0px 70px 0 20px;
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "Open Sans", Arial, Verdana;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #FFF;
  -webkit-transform: translate(0, 60px);
          transform: translate(0, 60px);
  -webkit-transition: all 0.3s cubic-bezier(0, 0.105, 0.035, 1.57);
  transition: all 0.3s cubic-bezier(0, 0.105, 0.035, 1.57);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.menu .menu-pc .css-form-seach .search-wrapper.active .input-holder .search-input {
  opacity: 1;
  -webkit-transform: translate(0, 10px);
          transform: translate(0, 10px);
}

.menu .menu-pc .css-form-seach .search-wrapper .input-holder .search-icon {
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 6px;
  background: #FFF;
  padding: 0px;
  outline: none;
  position: relative;
  z-index: 2;
  float: right;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu .menu-pc .css-form-seach .search-wrapper.active .input-holder .search-icon {
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 30px;
}

.menu .menu-pc .css-form-seach .search-wrapper .input-holder .search-icon span {
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.4s cubic-bezier(0.65, -0.6, 0.24, 1.65);
  transition: all 0.4s cubic-bezier(0.65, -0.6, 0.24, 1.65);
}

.menu .menu-pc .css-form-seach .search-wrapper.active .input-holder .search-icon span {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu .menu-pc .css-form-seach .search-wrapper .input-holder .search-icon span::before, .menu .menu-pc .css-form-seach .search-wrapper .input-holder .search-icon span::after {
  position: absolute;
  content: '';
}

.menu .menu-pc .css-form-seach .search-wrapper .input-holder .search-icon span::before {
  width: 7px;
  height: 15px;
  left: 10px;
  top: 18px;
  border-radius: 2px;
  background: #00cc09;
}

.menu .menu-pc .css-form-seach .search-wrapper .input-holder .search-icon span::after {
  width: 30px;
  height: 30px;
  left: -3px;
  top: -9px;
  border-radius: 16px;
  border: 4px solid #00cc09;
}

.menu .menu-pc .css-form-seach .search-wrapper .close {
  position: absolute;
  z-index: 1;
  top: 24px;
  right: 20px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: all 0.3s cubic-bezier(0.285, -0.45, 0.935, 0.11);
  transition: all 0.3s cubic-bezier(0.285, -0.45, 0.935, 0.11);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.menu .menu-pc .css-form-seach .search-wrapper.active .close {
  right: -50px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.6s cubic-bezier(0, 0.105, 0.035, 1.57);
  transition: all 0.6s cubic-bezier(0, 0.105, 0.035, 1.57);
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.menu .menu-pc .css-form-seach .search-wrapper .close::before, .menu .menu-pc .css-form-seach .search-wrapper .close::after {
  position: absolute;
  content: '';
  background: #00cc09;
  border-radius: 2px;
}

.menu .menu-pc .css-form-seach .search-wrapper .close::before {
  width: 5px;
  height: 25px;
  left: 10px;
  top: 0px;
}

.menu .menu-pc .css-form-seach .search-wrapper .close::after {
  width: 25px;
  height: 5px;
  left: 0px;
  top: 10px;
}

.menu .menu-pc .nav_input:checked ~ .nav-overlay {
  display: block;
}

.menu .menu-pc .nav_input:checked ~ .list-menu-mobile {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

.menu .menu-pc .nav-seach:checked ~ .css-form-seach {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

@media screen and (max-width: 63.9375em) {
  .show-hide {
    display: block !important;
  }
  .list-icon {
    font-size: 1.75em;
    line-height: 2.45em !important;
  }
  .list-menu {
    display: none !important;
  }
}

@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  .css-title-search {
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -40%);
            transform: translate(-50%, -40%);
    font-size: 2em;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */